@using Core.Web.Helpers
@model MyWeb.ViewModels.Statement.MasterProduct
@{
    var add = Html.Angular().ModelFor("vm.masterproduct");
}
<form class="form-horizontal" novalidate name="vm.form" ng-submit="vm.form.$valid && vm.save()">
    <fieldset ng-disabled="vm.saving">
        <div class="modal-header">
            <h3 class="modal-title text-center">{{vm.title}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    @Html.Angular().AlertGlobal("vm.message")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                    @(Html.Angular().PicklistFor("vm.codeSearch")
                                .Title("Product Code")
                                .Id("code")
                                .Name("code")
                                .Message("vm.message")
                                .ListService("vm.CategoryTemenosGetPage")
                                .OnSelect("vm.onSelectCodeSearch()")
                                .SetLabelSize("col-sm-4")
                                .SetInputSize("col-sm-8").Disabled("true")
                    )
                    @add.FormGroupFor(x => x.ProductName).SetLabelSize("col-sm-4").SetInputSize("col-sm-8").Disabled("true")
                    @(Html.Angular().CheckboxFor("vm.selectedIsActive")
                            .Title("Is Active")
                            .OnChange("vm.onChangeIsActive()")
                            .SetLabelSize("col-sm-4").SetInputSize("col-sm-8").Disabled("true")
                            
                    )
                    @add.FormGroupFor(x => x.Description).SetLabelSize("col-sm-4").SetInputSize("col-sm-8").Disabled("true")
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-warning" ng-click="$parent.$dismiss()">Cancel</button>
        </div>
    </fieldset>
</form>

