@using Core.Web.Helpers
@using MyWeb.ViewModels.Reward
@model MyWeb.ViewModels.Reward.PurchaseOrderViewModel
@{
    var addModel = Html.Angular().ModelFor("vm.purchaseorder");
}
<form class="form-horizontal"
      novalidate
      name="vm.form"
      form-submit="vm.save()">
    <fieldset ng-disabled="vm.saving">

        <div class="modal-header">
            <h3 class="modal-title">History Purchase Order</h3>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    @Html.Angular().AlertGlobal("vm.message")
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6">

                    @addModel.FormGroupFor(x => x.NamaCabang).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.TglBukaRekening).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.JenisTabungan).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.NoRekening).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.NamaNasabah).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    Attachment SP Nasabah &nbsp;&nbsp;<a href="" ng-show="vm.purchaseorder.attachmentSPNasabah != null" ng-click="vm.purchaseorderview(vm.purchaseorder.attachmentSPNasabah)">View</a>

                    @addModel.FormGroupFor(x => x.DraftPRId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.DraftPRDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.CatatanCabang).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @(Html.Angular().PicklistFor("vm.selectedDetailBarang")
                    .Title("Kode Promosi")
                    .Id("id")
                    .Name("promotionCode")
                    .SearchParams("vm.data")
                    .ListService("vm.detailbarangGetPage")
                    .OnSelect("vm.onSelectDetailBarang()")
                    .Message("vm.message")
                    .HideColumns("id,createBy,createDate,updateBy,updateDate")
                    .Disabled("true")
                    .SetLabelSize("col-lg-4").SetInputSize("col-lg-8"))

                    @addModel.FormGroupFor(x => x.KategoriBarang).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.TypeBarang).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.Merek).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.QuantityBarang).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.Penalty).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.StartDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.MaturityDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.Requester).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.PRId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.PRDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.RewardBudget).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    Attachment Memo Direksi &nbsp;&nbsp;<a href="" ng-show="vm.purchaseorder.attachmentMemoDireksi != null" ng-click="vm.purchaseorderviewmemo(vm.purchaseorder.attachmentMemoDireksi)">View</a>

                    @(Html.Angular().PicklistFor("vm.selectedSupplier")
                    .Title("Supplier")
                    .Id("supp_ID")
                    .Name("nm_Supp")
                    //.SearchParams("vm.data")
                    .ListService("vm.supplierGetPage")
                    .OnSelect("vm.onSelectSupplier()")
                    .Message("vm.message")
                    //.HideColumns("id,createBy,createDate,updateBy,updateDate")
                    .Disabled("true")
                    .SetLabelSize("col-lg-4").SetInputSize("col-lg-8"))

    
                    @*@addModel.FormGroupFor(x => x.SupplierId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")*@

                    @addModel.FormGroupFor(x => x.AlamatSupplier).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @*@addModel.FormGroupFor(x => x.NilaiBuku).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")*@

                    @(Html.Angular().PicklistFor("vm.selectedMasterUser")
                    .Title("NIK Employee")
                    .Id("nik")
                    .Name("nama")
                    .ListService("vm.masteruserGetPage")
                    .OnSelect("vm.onSelectMasterUser()")
                    .Message("vm.message")
                    .Disabled("true")
                    .SetLabelSize("col-lg-4").SetInputSize("col-lg-8"))

                    @addModel.FormGroupFor(x => x.DeptId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @*@(Html.Angular().FileUploadFor("vm.purchaseorder.uploadPO")
                    .Title("Upload PO")
                    //.OnChange("vm.onUploadFileChange()")
                    //.Error("vm.fileerror")
                    .MaxSize("10MB")
                    .Folder("purchaseorders")
                    .LabelSize("col-sm-4").InputSize("col-sm-8")
                    .SetFile("vm.setFile"))*@
                </div>

                <div class="col-lg-6">

                    @addModel.FormGroupFor(x => x.POId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.PODate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.POGroupId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.CategoryId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.PolaId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.UnitId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.TypeId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.PaymentMethod).Disabled("true").OnChange("vm.disableDP()").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.PaymentType).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.DPAmount).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.Quantity).Disabled("true").OnBlur("vm.recalculate()").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.Currency).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.NominalBarang).OnBlur("vm.recalculate()").Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.NominalPurchase).OnBlur("vm.recalculate()").Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.TotalPurchase).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @*@addModel.FormGroupFor(x => x.Pajak).OnBlur("vm.recalculate2()").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")*@

                    @addModel.FormGroupFor(x => x.VendorQuotationNo).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.VendorQuotationDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.VendorQuotationAmount).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @*@addModel.FormGroupFor(x => x.VendorInvoiceNo).SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.VendorInvoiceDate).SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.VendorInvoiceAmount).SetLabelSize("col-lg-4").SetInputSize("col-lg-8")*@

                    @addModel.FormGroupFor(x => x.PODescription).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @addModel.FormGroupFor(x => x.AdditionalInfoDetailItem).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")

                    @(Html.Angular().PicklistFor("vm.selectedBank")
                    .Title("Nama Bank")
                    .Id("bankName")
                           .Name("bankName")
                    .ListService("vm.bankGetPage")
                    .OnSelect("vm.onSelectBank()")
                    .Message("vm.message")
                            .Disabled("true")
                    //.AddValidation("vm.isNotValidBank", "Bank Harus Diisi!")
                    .SetLabelSize("col-lg-4").SetInputSize("col-lg-8"))
                    

                    @addModel.FormGroupFor(x => x.NomorRekeningVendor).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @*20190129, jeni, BEGIN*@
                    @addModel.FormGroupFor(x => x.PurchaseReceiveBy).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @*20190129, jeni, END*@
                    <a href="" ng-click="vm.draftPurchaseRequestView(vm.purchaseorder.draftPRId)">View Draft Purchase Request</a>
                    <br />
                    <br />
                    <a href="" ng-click="vm.purchaseRequestView(vm.purchaseorder.prId)">View Purchase Request</a>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    
                    @(Html.Angular()
                    .GridFor("vm.purchaseorder.detailBarangList")
                    .Title("Detail Barang")
                    .TableActions("vm.detailBarangTableActions")
                    .RefreshData("vm.refreshDetailBarang")
                    .Disabled("true")
                    .HideSearch()
                    .Columns<DetailbarangViewModel>(config =>
                    {
                        config.Add(x => x.PromotionCode);
                        config.Add(x => x.KategoriBarang);
                        config.Add(x => x.Keterangan);
                        config.Add(x => x.TypeBarang);
                        config.Add(x => x.Merek);
                        config.Add(x => x.Penalty, null, "number: 2");
                        config.Add(x => x.Quantity, null, "number: 2");
                        config.Add(x => x.Warna, "Warna / Jenis");
                    }))

                </div>
            </div>
           
        </div>

        <div class="modal-footer">
            @*<button class="btn btn-success">Save</button>*@
            <button type="button" class="btn btn-warning" ng-click="$dismiss()">Close</button>
        </div>

    </fieldset>
</form>