@using Core.Web.Helpers
@using MyWeb.ViewModels.Reward
@model dynamic

<div ng-controller="HistoryCashbackController as vm">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading"><b>History Cashback</b></div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-lg-6">
                    @(Html.Angular().PicklistFor("vm.selectedCabang")
                    .ListService("vm.cabanggetpage")
                    .Title("Cabang")
                    .OnSelect("vm.onSelectCabang()")
                    .Name("branchName")
                    .Id("branchCodeT24")
                    .Message("vm.message")
                    .HideColumns("id,createBy,createDate,updateBy,updateDate")
                    .Disabled("vm.isKpno == 'no'")
                    .SetInputSize("col-sm-8").SetLabelSize("col-sm-4"))
                    </div>
                    <div class="col-lg-6">
                    @(Html.Angular().EnumFor("vm.searchParams.jenisTabungan")
                    .Title("Jenis Tabungan")
                    .EnumType("MyWeb.Models.JenisTabungan,MyWeb")
                    .SetInputSize("col-sm-8").SetLabelSize("col-sm-4")
                    )
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                    @(Html.Angular().DateFor("vm.searchParams.tanggalmulai")
                    .Title("Start Date")
                    .LabelSize("col-sm-4")
                    .InputSize("col-sm-8"))
                    </div>

                    <div class="col-lg-6">
                    @(Html.Angular().DateFor("vm.searchParams.tanggalakhir")
                    .Title("End Date")
                    .LabelSize("col-sm-4")
                    .InputSize("col-sm-8"))
                    </div>
                </div>
                <div class="row">
                   <div class="col-lg-6">
                   @(Html.Angular().TextFor("vm.searchParams.no")
                   .Title("Cashback Group ID")
                   .SetInputSize("col-sm-8").SetLabelSize("col-sm-4"))
                   </div>
                </div>

                <div class="row">
                   <div class="col-lg-6">
                       <button class="btn btn-success" ng-click="vm.search()">Search</button>
                   </div>
                </div>

                <div class="row">
                    @(Html.Angular().GridFor("vm.historyCashbackGetPage")
                    .SearchParams("vm.searchParams")
                    .Message("vm.message")
                    .TableActions("vm.tableActions")
                    .RefreshData("vm.refreshData")
                    .TotalItems("vm.totalItems")
                    .Response("vm.response")
                    .RowStyle("vm.rowStyle")
                    .GetAll("vm.historyPurchaseOrderGetAll")
                    .AutoLoad(false)
                    .HideSearch()
                    .Columns<PurchaseOrderViewModel>(config =>
                    {
                        config.Add(x => x, "Action", null, "<div>&nbsp;&nbsp;<a href='' ng-click='grid.appScope.tableActions.onDetail(row.entity)' title='Detail'><i class='fa fa-eye fa-lg'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href='' title='Generate Data' ng-click='grid.appScope.tableActions.onReport(row.entity)'><i class='fa fa-download' aria-hidden='true'></i></a></div>", width: 80);
                        config.Add(x => x.POGroupId, "Cashback Group ID");
                        config.Add(x => x.CatatanPO, "Catatan Cashback");
                        config.Add(x => x.totalpo, "Total Cashback");
                        config.Add(x => x.PODate, "Cashback Date", "dateFormat");
                        config.Add(x => x.PODescription, "Keterangan");
                        //config.Add(x => x.AdditionalInfoDetailItem, "No. Batch");
                        //config.Add(x => x.CCYDebet, "CCY Debet");
                        //config.Add(x => x.CCYKredit, "CCY Kredit");
                        config.Add(x => x.Requester);
                        config.Add(x => x.StatusData);
                    }))
                </div>
            </div>
        </div>
    </div>
</div>