@using Core.Web.Helpers
@using MyWeb.ViewModels.Reward
@model MyWeb.ViewModels.Reward.BreakAmortisasiRequestViewModel
@{
    var formModel = Html.Angular().ModelFor("vm.breakamortisasirequest");
}
<form class="form-horizontal"
      novalidate
      name="vm.form"
      form-submit="vm.save()">
    <fieldset ng-disabled="vm.saving">
        <div class="modal-header">
            <h3 class="modal-title">Break Amortisasi Request Form</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    @Html.Angular().AlertGlobal("vm.message")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @(Html.Angular().PicklistFor("vm.selectedDeliveryOrder")
                      .Title("Nomor Amortisasi Request / No Rekening")
                      .Id("id")
                      .Name("requestId")
                      //.Picklist("vm.imageclassPicklist")
                      .ListService("vm.deliveryOrderGetPage")
                      .OnSelect("vm.onSelectDeliveryOrder()")
                      .Message("vm.message")
                      //.AddValidation("vm.isImageClassPicklistNotValid", "Image Class harus dipilih!")
                      @*.HideColumns("id,requestDate,do_PurchaseOrderId,do_DeliveryOrderId,do_DeliveryOrderDate,do_StatusBarang,do_Receiver,do_Condition" +
                        ",do_attachmentTandaTerima,do_Description,pO_EnquiryId,pO_DetailBarangId,pO_POId,pO_PODate,pO_POGroupId,pO_CategoryId,pO_PolaId" +
                        ",pO_UnitId,pO_TypeId,pO_PaymentMethod,pO_PaymentType,pO_DPAmount,pO_Quantity,pO_Currency,pO_NominalBarang,pO_NominalPurchase" +
                        ",pO_TotalPurchase,pO_SupplierId,pO_NilaiBuku,pO_NikEmp,pO_DeptId,pO_VendorQuotationNo,pO_VendorQuotationDate" +
                        ",pO_VendorQuotationAmount,pO_VendorInvoiceNo,pO_VendorInvoiceDate,pO_VendorInvoiceAmount,pO_PODescription,pO_ApproveBy2" +
                        ",pO_ApproveDate2,pO_StatusData2,dB_EnquiryId,dB_PromotionCode,dB_KategoriBarang,dB_TypeBarang,dB_Merek,dB_Penalty,dB_Quantity" +
                        ",dB_Warna,pR_TglBukaRekening,pR_JenisTabungan,pR_NoRekening,pR_NoCif,pR_NamaNasabah,pR_KodePromosi,pR_Cabang,pR_StartDate" +
                        ",pR_MaturityDate,pR_Nominal,pR_PRId,pR_PRDate,pR_DraftPRId,pR_DraftPRDate,pR_AttachmentSPNasabah,pR_Requester,pR_RewardBudget" +
                        ",pR_AttachmentMemoDireksi,pR_CatatanCabang,pR_CatatanFProduct,pR_DetailBarangId,pR_ApproveBy2,pR_ApproveDate2,pR_StatusData2" +
                        ",dOid,pR_StatusData2,paymentRequestMod,purchaseReceiveMod,jurnalDetail,createBy,createDate,updateBy,updateDate,approveBy" +
                        ",approveDate,statusData"))*@
                      .HideColumns("id,do_PurchaseOrderId,do_StatusBarang" +
                        ",do_attachmentTandaTerima,pO_EnquiryId,pO_DetailBarangId,pO_POGroupId" +
                        ",pO_DPAmount" +
                        ",pO_PODescription,pO_ApproveBy2" +
                        ",pO_ApproveDate2,pO_StatusData2,dB_EnquiryId,dB_PromotionCode" +
                        ",pR_NoCif" +
                        ",pR_Nominal,pR_AttachmentSPNasabah" +
                        ",pR_AttachmentMemoDireksi,pR_CatatanCabang,pR_CatatanFProduct,pR_DetailBarangId,pR_ApproveBy2,pR_ApproveDate2,pR_StatusData2" +
                        ",dOid,pR_StatusData2,paymentRequestMod,purchaseReceiveMod,jurnalDetail,createBy,createDate,updateBy,updateDate,approveBy" +
                        ",approveDate,statusData,listKartuAmortisasi"))
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <table class="table">
                        <tr>
                            <td>Cabang</td>
                            <td>@formModel.BindingFor(x => x.PR_Cabang)</td>
                        </tr>
                        <tr>
                            <td>Tgl Buka Rekening</td>
                            <td>{{vm.breakamortisasirequest.pR_TglBukaRekening | dateFormat}}</td>
                        </tr>
                        <tr>
                            <td>Jenis Tabungan Berhadiah</td>
                            <td>@formModel.BindingFor(x => x.PR_JenisTabungan)</td>
                        </tr>
                        <tr>
                            <td>No Rekening</td>
                            <td>@formModel.BindingFor(x => x.PR_NoRekening)</td>
                        </tr>
                        <tr>
                            <td>Nama Nasabah</td>
                            <td>@formModel.BindingFor(x => x.PR_NamaNasabah)</td>
                        </tr>
                        <tr>
                            <td>Attachment SP Nasabah</td>
                            <td><span class="btn btn-warning btn-file glyphicon glyphicon-eye-open" title="view" ng-click="vm.viewOrDownload(vm.pathET + vm.breakamortisasirequest.pR_AttachmentSPNasabah)" ng-disabled="vm.breakamortisasirequest.pR_AttachmentSPNasabah == null || vm.breakamortisasirequest.pR_AttachmentSPNasabah == ''"></span></td>
                            @*<td>@formModel.BindingFor(x => x.PR_AttachmentSPNasabah)</td>*@
                        </tr>
                        <tr>
                            <td>Draft Purchase Request ID</td>
                            <td>@formModel.BindingFor(x => x.PR_DraftPRId)</td>
                        </tr>
                        <tr>
                            <td>Draft PR Date</td>
                            <td>{{vm.breakamortisasirequest.pR_DraftPRDate | dateFormat}}</td>
                            @*<td>@formModel.BindingFor(x => x.PR_DraftPRDate)</td>*@
                        </tr>
                        <tr>
                            <td>Kode Promosi</td>
                            <td>@formModel.BindingFor(x => x.PR_KodePromosi)</td>
                        </tr>
                        <tr>
                            <td>Kategori Barang</td>
                            <td>@formModel.BindingFor(x => x.DB_KategoriBarang)</td>
                        </tr>
                        <tr>
                            <td>Type Barang</td>
                            <td>@formModel.BindingFor(x => x.DB_TypeBarang)</td>
                        </tr>
                        <tr>
                            <td>Merk</td>
                            <td>@formModel.BindingFor(x => x.DB_Merek)</td>
                        </tr>
                        <tr>
                            <td>Warna</td>
                            <td>@formModel.BindingFor(x => x.DB_Warna)</td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td>@formModel.BindingFor(x => x.DB_Quantity)</td>
                        </tr>
                        <tr>
                            <td>Pinalty Ammount</td>
                            <td>{{vm.breakamortisasirequest.dB_Penalty | number}}</td>
                            @*<td>@formModel.BindingFor(x => x.DB_Penalty)</td>*@
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>{{vm.breakamortisasirequest.pR_StartDate | dateFormat}}</td>
                            @*<td>@formModel.BindingFor(x => x.)</td>*@
                        </tr>
                        <tr>
                            <td>Maturity Date</td>
                            <td>{{vm.breakamortisasirequest.pR_MaturityDate | dateFormat}}</td>
                            @*<td>@formModel.BindingFor(x => x.)</td>*@
                        </tr>
                        <tr>
                            <td>Request Name</td>
                            <td>@formModel.BindingFor(x => x.PR_Requester)</td>
                        </tr>
                        <tr>
                            <td>Purchase Request Id</td>
                            <td>@formModel.BindingFor(x => x.PR_PRId)</td>
                        </tr>
                        <tr>
                            <td>Purcahse Request Date</td>
                            <td>{{vm.breakamortisasirequest.pR_PRDate | dateFormat}}</td>
                            @*<td>@formModel.BindingFor(x => x.)</td>*@
                        </tr>
                        <tr>
                            <td>Reword Budget</td>
                            <td>{{vm.breakamortisasirequest.pR_RewardBudget | number}}</td>
                            @*<td>@formModel.BindingFor(x => x.PR_RewardBudget)</td>*@
                        </tr>
                        <tr>
                            <td>Attachment Memo direksi</td>
                            <td><span class="btn btn-warning btn-file glyphicon glyphicon-eye-open" title="view" ng-click="vm.viewOrDownload(vm.pathPR + vm.breakamortisasirequest.pR_AttachmentMemoDireksi)" ng-disabled="vm.breakamortisasirequest.pR_AttachmentMemoDireksi == null || vm.breakamortisasirequest.pR_AttachmentMemoDireksi == ''"></span></td>
                            @*<td>@formModel.BindingFor(x => x.PR_AttachmentMemoDireksi)</td>*@
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4">
                    <table class="table">
                        <tr>
                            <td>Purchase Order Id</td>
                            <td>@formModel.BindingFor(x => x.PO_POId)</td>
                        </tr>
                        <tr>
                            <td>Purchase Order Date</td>
                            <td>{{vm.breakamortisasirequest.pO_PODate | dateFormat}}</td>
                            @*<td>@formModel.BindingFor(x => x.)</td>*@
                        </tr>
                        <tr>
                            <td>Category Id</td>
                            <td>@formModel.BindingFor(x => x.PO_CategoryId)</td>
                        </tr>
                        <tr>
                            <td>Pola Id</td>
                            <td>@formModel.BindingFor(x => x.PO_PolaId)</td>
                        </tr>
                        <tr>
                            <td>Unit Id</td>
                            <td>@formModel.BindingFor(x => x.PO_UnitId)</td>
                        </tr>
                        <tr>
                            <td>Type Id</td>
                            <td>@formModel.BindingFor(x => x.PO_TypeId)</td>
                        </tr>
                        <tr>
                            <td>Payment Method</td>
                            <td>@formModel.BindingFor(x => x.PO_PaymentMethod)</td>
                        </tr>
                        <tr>
                            <td>Payment Type</td>
                            <td>@formModel.BindingFor(x => x.PO_PaymentType)</td>
                        </tr>
                        @*<tr>
                            <td>Type Id</td>
                            <td>@formModel.BindingFor(x => x.PO_TypeId)</td>
                        </tr>*@
                        <tr>
                            <td>Quantity</td>
                            <td>@formModel.BindingFor(x => x.PO_Quantity)</td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td>@formModel.BindingFor(x => x.PO_Currency)</td>
                        </tr>
                        <tr>
                            <td>Nom Barang</td>
                            <td>{{vm.breakamortisasirequest.pO_NominalBarang | number}}</td>
                            @*<td>@formModel.BindingFor(x => x.PO_NominalBarang)</td>*@
                        </tr>
                        <tr>
                            <td>Nom Purchase</td>
                            <td>{{vm.breakamortisasirequest.pO_NominalPurchase | number}}</td>
                            @*<td>@formModel.BindingFor(x => x.PO_NominalPurchase)</td>*@
                        </tr>
                        <tr>
                            <td>Tot Purchase</td>
                            <td>{{vm.breakamortisasirequest.pO_TotalPurchase | number}}</td>
                            @*<td>@formModel.BindingFor(x => x.PO_TotalPurchase)</td>*@
                        </tr>
                        <tr>
                            <td>Supplier Id</td>
                            <td>@formModel.BindingFor(x => x.PO_SupplierId)</td>
                        </tr>
                        <tr>
                            <td>Nilai buku</td>
                            <td>{{vm.breakamortisasirequest.pO_NilaiBuku | number}}</td>
                            @*<td>@formModel.BindingFor(x => x.PO_NilaiBuku)</td>*@
                        </tr>
                        <tr>
                            <td>Nik Emp</td>
                            <td>@formModel.BindingFor(x => x.PO_NikEmp)</td>
                        </tr>
                        <tr>
                            <td>Dept Id</td>
                            <td>@formModel.BindingFor(x => x.PO_DeptId)</td>
                        </tr>
                        <tr>
                            <td>Vendor Quotation No.</td>
                            <td>@formModel.BindingFor(x => x.PO_VendorQuotationNo)</td>
                        </tr>
                        <tr>
                            <td>Vendor Quotation Date</td>
                            <td>{{vm.breakamortisasirequest.pO_VendorQuotationDate | dateFormat}}</td>
                            @*<td>@formModel.BindingFor(x => x.)</td>*@
                        </tr>
                        <tr>
                            <td>Vendor Quotation Amount</td>
                            <td>{{vm.breakamortisasirequest.pO_VendorQuotationAmount | number}}</td>
                            @*<td>@formModel.BindingFor(x => x.PO_VendorQuotationAmount)</td>*@
                        </tr>
                        <tr>
                            <td>Vendor Invoice No.</td>
                            <td>@formModel.BindingFor(x => x.PO_VendorInvoiceNo)</td>
                        </tr>
                        <tr>
                            <td>Vendor Invoice Date</td>
                            <td>{{vm.breakamortisasirequest.pO_VendorInvoiceDate | dateFormat}}</td>
                            @*<td>@formModel.BindingFor(x => x.)</td>*@
                        </tr>
                        <tr>
                            <td>Vendor Invoice Amount</td>
                            <td>{{vm.breakamortisasirequest.pO_VendorInvoiceAmount | number}}</td>
                            @*<td>@formModel.BindingFor(x => x.PO_VendorInvoiceAmount)</td>*@
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4" >
                    <table class="table">
                        <tr>
                            <td>Delivery Order ID</td>
                            <td>@formModel.BindingFor(x => x.Do_DeliveryOrderId)</td>
                        </tr>
                        <tr>
                            <td>Delivery Order Date</td>
                            <td>{{vm.breakamortisasirequest.do_DeliveryOrderDate | dateFormat}}</td>
                            @*<td>@formModel.BindingFor(x => x.)</td>*@
                        </tr>
                        <tr>
                            <td>Condition</td>
                            <td>@formModel.BindingFor(x => x.Do_Condition)</td>
                        </tr>
                        <tr>
                            <td>Receiver</td>
                            <td>@formModel.BindingFor(x => x.Do_Receiver)</td>
                        </tr>
                        <tr>
                            <td>Attachment Tanda Terima</td>
                            <td><span class="btn btn-warning btn-file glyphicon glyphicon-eye-open" title="view" ng-click="vm.viewOrDownload(vm.pathDO + vm.breakamortisasirequest.do_attachmentTandaTerima)" ng-disabled="vm.breakamortisasirequest.do_attachmentTandaTerima == null || vm.breakamortisasirequest.do_attachmentTandaTerima == ''"></span></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>@formModel.BindingFor(x => x.Do_Description)</td>
                        </tr>
                    </table>
                    <div class="panel panel-default">
                        <div class="panel-heading">Detail Kartu Amortisasi</div>
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th>Periode</th>
                                    <th>Value Date</th>
                                    <th>Amortize Amount</th>
                                </tr>
                                <tr ng-repeat="item in vm.kartuAmortisasi">
                                    <td>{{item.periode}}</td>
                                    <td>{{item.valueDate | dateFormat}}</td>
                                    <td>{{item.amortizeAmount | number}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Total</td>
                                    <td>{{vm.totalBeban | number:0}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @*@formModel.FormGroupFor(x => x.DOid)*@
                    @formModel.FormGroupFor(x => x.RequestId).Disabled("true")
                    @formModel.FormGroupFor(x => x.RequestDate).Disabled("true")
                    @formModel.FormGroupFor(x => x.TT_RequestDate).Disabled("true")

                    @*<div ng-show="vm.isDisabled == 'false'">*@

                        @(Html.Angular().ComboboxFor("vm.selectedJurnalName")
                            .Title("Jurnal Name")
                            .Id("id")
                            .Name("name")
                            .Items("vm.jurnalNameCombobox")
                            .OnSelect("vm.onSelectJurnalNameCombobox()")
                                    .Disabled("true")
                        )
                    @*</div>*@



                    @*@formModel.FormGroupFor(x => x.JurnalName)*@
                    @*@formModel.FormGroupFor(x => x.TransactionCode)*@
                    @(Html.Angular().FileUploadFor("vm.breakamortisasirequest.memo")
                        .Title("Upload Memo")
                        .Error("vm.fileerror")
                        .MaxSize("10MB")
                        .Folder("BreakMemo")
                        .LabelSize("col-sm-2")
                        .InputSize("col-sm-10")
                        .SetFile("vm.setFile")
                    )
                </div>
                <div class="col-sm-12">
                    @*<h3><a class="pull-right" href="" ng-click="vm.addJurnalDetail()"><i class="fa fa-plus-circle"></i></a></h3>*@
                    @(Html.Angular()
                    .GridFor("vm.breakamortisasirequest.jurnalDetail")
                            .HideSearch()
                    .Title("Detail Jurnal Amortisasi")
                    .Message("vm.message")
                    .TableActions("vm.tableActions")
                    .RefreshData("vm.refreshData")
                    //.SelectColumn(true)
                    .Columns<MyWeb.Models.Reward.BreakAmortisasiRequestDetail>(config =>
                    {
                        //config.Add(x => x, "Action", null, "<div><a href='' title='edit' ng-click='grid.appScope.tableActions.onEdit(row.entity)'><i class='fa fa-edit fa-lg'></i></a><a href='' ng-click='grid.appScope.tableActions.onDelete(row.entity)'><i class='fa fa-trash fa-lg'></i></a></div>");
                        config.Add(x => x.Value_date, null, "dateFormat");
                        config.Add(x => x.BranchId);
                        config.Add(x => x.BranchName);
                        config.Add(x => x.IntAccCategoryId);
                        config.Add(x => x.IntAccCategoryName);
                        config.Add(x => x.DebitKredit);
                        config.Add(x => x.Narative);
                        config.Add(x => x.Currency);
                        config.Add(x => x.Amount, null, "number");
                    }))
                    <br />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success">Save</button>
            <button type="button" class="btn btn-warning" ng-click="vm.closeAction()">Cancel</button>
        </div>

    </fieldset>
</form>