@using Core.Web.Helpers
@using MyWeb.ViewModels.Reward
@model dynamic
@*@model MyWeb.Forms.Customers.CustomerForm
    @{
        var customer = Html.Angular().ModelFor("vm.customer");
        ViewBag.Title = "Customer";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<div ng-controller="PurchasereceiveController as vm">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading"><b>Pelunasan Payment</b></div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-lg-6">
                        @(Html.Angular().PicklistFor("vm.selectedCabang")
                        .ListService("vm.cabanggetpage")
                        .Title("Cabang")
                        .OnSelect("vm.onSelectCabang()")
                        .Name("branchName")
                        .Id("branchCodeT24")
                        .Message("vm.message")
                        .HideColumns("id,createBy,createDate,updateBy,updateDate")
                        .Disabled("vm.isKpno == 'no'")
                        .SetInputSize("col-sm-8").SetLabelSize("col-sm-4"))
                    </div>
                    <div class="col-lg-6">
                        @(Html.Angular().EnumFor("vm.searchParams.jenisTabungan")
                        .Title("Jenis Tabungan")
                        .EnumType("MyWeb.Models.JenisTabungan,MyWeb")
                        .OnChange("vm.onChangeJenisTabungan()")
                        .SetInputSize("col-sm-8").SetLabelSize("col-sm-4"))
                    </div>
                </div>


                <div class="row" style="margin-bottom:10px;">
                    <div class="col-lg-6">
                        @(Html.Angular().TextFor("vm.searchParams.no")
                        .Title("Purchase Order ID")
                        .SetInputSize("col-sm-8").SetLabelSize("col-sm-4"))
                    </div>
                    <div class="col-lg-6">
                        @(Html.Angular().DateFor("vm.searchParams.tanggal")
                        .Title("Purchase Order Date")
                        .SetInputSize("col-sm-8").SetLabelSize("col-sm-4"))
                    </div>
                </div>


                <div class="row" style="margin-bottom:10px;">
                    <div class="col-lg-6">
                        @(Html.Angular().TextFor("vm.searchParams.nopr")
                        .Title("Purchase Receive ID")
                        .SetInputSize("col-sm-8").SetLabelSize("col-sm-4"))
                    </div>
                    <div class="col-lg-6">
                        @(Html.Angular().DateFor("vm.searchParams.tanggalpr")
                        .Title("Purchase Receive Date")
                        .SetInputSize("col-sm-8").SetLabelSize("col-sm-4"))
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-success" ng-click="vm.search2()">Search</button>
                    </div>
                </div>

                <div class="row">
                    @(Html.Angular().GridFor("vm.pelunasanGetPage")
                    .SearchParams("vm.searchParams")
                    .HideSearch()
                    .Message("vm.message")
                    .TableActions("vm.tableActions")
                    .RefreshData("vm.refreshData")
                    .TotalItems("vm.totalItems")
                    .Response("vm.response")
                    .RowStyle("vm.rowStyle")
                    .AutoLoad(false)
                    .Columns<PurchaseReceiveViewModel>(config =>
                    {
                        //config.Add(x => x, "Select", null, "<div><a href='' ng-click='grid.appScope.tableActions.onSelect(row.entity)'><i class='fa fa-edit fa-lg'></i></a></div>");
                        config.Add(x => x, "Action", null, "<div><a href='' ng-click='grid.appScope.tableActions.onAdd2(row.entity)'><i class='fa fa-plus-circle fa-lg'></i></a></div>");
                        config.Add(x => x.PoId, "PO ID");
                        config.Add(x => x.PoDate, "PO Date", "dateFormat");
                        config.Add(x => x.PurchaseReceiveId, "Purchase Receive ID");
                        config.Add(x => x.PurchaseReceiveDate, "Purchase Receive Date", "dateFormat");
                        config.Add(x => x.TypeBarang);
                        config.Add(x => x.Merek);
                        config.Add(x => x.Quantity, null, "number");
                        config.Add(x => x.DPAmount, null, "number");
                        config.Add(x => x.TotalPurchase, null, "number");
                        config.Add(x => x.pajak, null, "number");
                        config.Add(x => x.SisaPembayaran, null, "number");
                        config.Add(x => x.PaymentMethod);
                        config.Add(x => x.PaymentRequestType);
                    }))
                </div>

            </div>
        </div>
    </div>
</div>
