@using Core.Web.Helpers
@using MyWeb.ViewModels.Reward
@model MyWeb.ViewModels.Reward.EnquirytabunganViewModel
@{
    var addModel = Html.Angular().ModelFor("vm.purchaserequest");
}
<form class="form-horizontal"
      novalidate
      name="vm.form"
      form-submit="vm.save()">
    <fieldset ng-disabled="vm.saving">

        <div class="modal-header">
            <h3 class="modal-title">Purchase Request Barang Hadiah</h3>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    @Html.Angular().AlertGlobal("vm.message")
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    @addModel.FormGroupFor(x => x.PRId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.PRDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.NamaCabang).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.TglBukaRekening).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.JenisTabungan).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.NoRekening).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.NamaNasabah).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @*Attachment SP Nasabah &nbsp;&nbsp;&nbsp;<a href="" ng-show="vm.purchaserequest.attachmentSPNasabah != null" ng-click="vm.purchaserequestview(vm.purchaserequest.attachmentSPNasabah)">View </a>*@
                    @addModel.FormGroupFor(x => x.RewardBudget).AddValidation("vm.validationRewardBudget", "Value must be greater than 0 !").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @(Html.Angular().FileUploadFor("vm.purchaserequest.attachmentMemoDireksi")
                                            .Title("Upload Memo Direksi")
                            //.OnChange("vm.onUploadFileChange()")
                            //.Error("vm.fileerror")
                                            .MaxSize("10MB")
                                            .Folder("purchaserequest")
                                            .LabelSize("col-sm-4")
                                            .InputSize("col-sm-8")
                                            .SetFile("vm.setFile")
                    )
                    @*20200713, Eka, BEGIN*@
                    @addModel.FormGroupFor(x => x.PenyimpanganProgram).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @*20200713, Eka, END*@
                    @*<button class="btn-default" ngf-select="vm.uploadFiles($files, $invalidFiles)"
                            accept="*" ngf-max-height="1000" ngf-max-size="10MB">
                        Attachment Memo Direksi
                    </button>

                    <ul>
                        <li ng-repeat="f in vm.files" style="font:smaller">
                            {{f.name}} {{f.$errorParam}}
                            <span class="progress" ng-show="f.progress >= 0">
                                <div style="width:{{f.progress}}%"
                                     ng-bind="f.progress + '%'"></div>
                            </span>
                        </li>
                        <li ng-repeat="f in vm.errFiles" style="font:smaller">
                            {{f.name}} {{f.$error}} {{f.$errorParam}}
                        </li>
                    </ul>
                    {{vm.errorMsg}}*@
                </div>
                <div class="col-lg-6">
                    @addModel.FormGroupFor(x => x.DraftPRId).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.DraftPRDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.StartDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.MaturityDate).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.Requester).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.CatatanCabang).Disabled("true").SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @addModel.FormGroupFor(x => x.CatatanFProduct).SetLabelSize("col-lg-4").SetInputSize("col-lg-8")
                    @*20200713, Eka, BEGIN*@
                    @(Html.Angular().FileUploadFor("vm.purchaserequest.attachmentPenyimpangan")
                                            .Title("Upload Memo Penyimpangan")
                            //.OnChange("vm.onUploadFileChange()")
                            //.Error("vm.fileerror")
                                            .MaxSize("10MB")
                                            .Folder("enquirytabungan")
                                            .LabelSize("col-sm-4")
                                            .InputSize("col-sm-8")
                                            .SetFile("vm.setFile")
                                            .Disabled("true")
                    )
                    @*20200713, Eka, END*@
                    <a href="" ng-click="vm.draftPurchaseRequestView(vm.purchaserequest.draftPRId)">View Draft Purchase Request</a>

                </div>
            <div class="row">
                <div class="col-lg-12">

                    
                </div>
            </div>
            <div>
                <div class="col-lg-12">
                    @(Html.Angular()
                    .GridFor("vm.purchaserequest.detailBarangList")
                    .HideSearch()
                    .Title("Detail Barang")
                    .TableActions("vm.detailBarangTableActions")
                    .RefreshData("vm.refreshDetailBarang")
                    .SearchParams("vm.search")
                    .Columns<DetailbarangViewModel>(config =>
                    {
                        config.Add(x => x, "Action", null, "<div><a href='' ng-click='grid.appScope.tableActions.editDetailBarang(row.entity)'>&emsp;<i class='fa fa-edit fa-lg'></i></a></div>");
                        config.Add(x => x.PromotionCode);
                        config.Add(x => x.KategoriBarang);
                        config.Add(x => x.TypeBarang);
                        config.Add(x => x.Penalty, null, "number: 2");
                        config.Add(x => x.Quantity, null, "number: 2");
                        config.Add(x => x.Warna, "Warna / Jenis");
                    }))
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success">Save</button>
            <button type="button" class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        </div>

    </fieldset>
</form>